<!-- Footer Code starts here -->
<div class="Footer">
  <div class="Footer__Logo">
    <img class="img" src="https://cdn.shopify.com/s/files/1/0906/2558/files/Sugr_logo_white-02_600x.png" alt="Sugar Cosmetics Logo">
  </div>
  <div class="iconBox">
    <div class="icon"><i class="fa fa-facebook"></i></div>
    <div class="icon"><i class="fa fa-twitter"></i></div>
    <div class="icon"><i class="fa fa-envelope"></i></div>
  </div>
  <div class="Footer__Info">
    <div id="info__1">
      <strong>INFORMATION</strong>
      <div class="dash"></div>
      <p>Contact Us</p>
      <p>Store Locator</p>
      <p>Terms & conditions</p>
      <p>Returns</p>
      <p>FAQs</p>
      <p>About Us</p>
    </div>
    <div>
      <strong>CUSTOMER CARE</strong>
      <div class="dash"></div>
      <div class="mobileNum"><i class="fa fa-mobile-phone"></i><p>: 022-2847-5555</p></div>
      <div class="mobileNum"><i class="fa fa-mobile-phone"></i><p>: 022-6805-6009</p></div>
      <p id="dateTime">(Monday to Friday : 9 AM - 7 PM).</p>
      <div class="mobileNum" id="spcaeTopBottom"><i class="fa fa-envelope-open-o"></i><p>: hello@sugarcosmetics.com</p></div>

      <strong>INFLUENCER COLLAB</strong>
      <div class="dash"></div>
      <div class="mobileNum"><i class="fa fa-external-link"></i><p>: Join Us</p></div>

      <strong>CAREER</strong>
      <div class="dash"></div>
      <div class="mobileNum"><i class="fa fa-envelope-open-o"></i><p>: careers@sugarcosmetics.com</p></div>

      <strong>PRESS & MEDIA</strong>
      <div class="dash"></div>
      <div class="mobileNum"><i class="fa fa-envelope-open-o"></i><p>: pr@sugarcosmetics.com</p></div>
    </div>

    <div id="bannerGetApp">
      <strong>GET THE NEW SUGAR APP<br>TODAY.</strong>
      <div class="dash"></div>
      <div class="mobileNum"><p>Tap into a better shopping<br>experience.</p></div>
      <div class="glogoBanner">
        <div><img class="img" src="https://cdn.shopify.com/s/files/1/0906/2558/files/google-play.png?v=1580269780" alt="Google Playstore"></div>
        <div><img class="img" src="https://cdn.shopify.com/s/files/1/0906/2558/files/apple-store.png?v=1580269780" alt="Apple AppStore"></div>
      </div>
    </div>

    <div id="newsLetter">
      <strong>NEWSLETTER</strong>
      <div class="dash"></div>
      <div class="mobileNum" id="newsTextBox"><input class="newsText" type="text" placeholder="Your email address"></div>
      <button class="signUpButton">SIGN UP</button>
    </div>
  </div>
  <div class="dividePage"></div>
  <div class="copyRight">
    <p>Copyright © 2020 SUGAR Cosmetics. All rights reserved.</p>
  </div>
</div>
<!-- Footer Code Ends here -->
